
body {
	display: flex;
	padding: 0;
	align-items: center;
	justify-content: center;
}

#master {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0;
}

/* --- HEADER ---*/

#header {
	background-color: white;
	margin: 0 auto;
	width: 100%;
}

/* ---- LOGO ----*/
#logo {
	text-align: center;
	height: 96px;
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid gray;
}

/* ---- POWER BUTTONS ---- */
#powerbuttons {
	margin: 0 auto;
	border-bottom: 1px solid gray;
	overflow: hidden;
	height: 84px;
}

.arrowbox {
	float: left;
	cursor: pointer;
	height: 64px;
	width: 25px;
	margin: 10px;
}
.arrowbox.right {
	float: right;
}
.arrowbox img {
	height: 64px;
	width: 25px;
}

.powerbutton {
	float: left;
	cursor: pointer;
	height: 64px;
	width: 64px;
	margin: 10px;
}
.powerbutton img {
	height: 64px;
	width: 64px;
}

/* --- BODY --- */

#main {
	margin: 0;
	/*height: 100%;*/
	/*position: relative;*/
	flex: 1;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid gray;
	margin-bottom: 50px;
}

/* ---- MENU ---- */

#menu {
	width: 100px;
	flex: 0 0 auto;
	background-color: black;
}
.menu-element.active img {
	background-color: white;
}
.menu-element {
	cursor: pointer;
}
.menu-element a {
	display: block;
	padding: 10px 13px;
	width: 100px;
	height: 100px;
}
.menu-element img {
	border-radius: 4px;
	width: 74px;
	height: 74px;
	padding: 5px;
}

/* ---- ERRORS AND SUCCESS ---- */
#errors, #success {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top: none;
	margin: 10px;
	margin-top: -20px;
}

/* ---- CONTENT ---- */

#content {
	flex: 1;
	position: relative;
	margin: 0;
	padding: 20px;
}

/* ---- LOGIN ---- */
