
<div id="powerbuttons">
	<div class="arrowbox">
		<img src="/ext/relaisctrl/media/img/arrow-left.png">
	</div>
	<div class="powerbutton" data-id="0">
		<img src="/ext/relaisctrl/media/img/powerbuttons/yellow.png">
	</div>
	<div class="powerbutton" data-id="1">
		<img src="/ext/relaisctrl/media/img/powerbuttons/yellow.png">
	</div>
	<div class="powerbutton" data-id="2">
		<img src="/ext/relaisctrl/media/img/powerbuttons/yellow.png">
	</div>
	<div class="powerbutton" data-id="3">
		<img src="/ext/relaisctrl/media/img/powerbuttons/yellow.png">
	</div>
	<div class="powerbutton" data-id="4">
		<img src="/ext/relaisctrl/media/img/powerbuttons/yellow.png">
	</div>
	<div class="powerbutton" data-id="5">
		<img src="/ext/relaisctrl/media/img/powerbuttons/yellow.png">
	</div>
	<div class="powerbutton" data-id="6">
		<img src="/ext/relaisctrl/media/img/powerbuttons/yellow.png">
	</div>
	<div class="powerbutton" data-id="7">
		<img src="/ext/relaisctrl/media/img/powerbuttons/yellow.png">
	</div>
	<div class="arrowbox right">
		<img src="/ext/relaisctrl/media/img/arrow-right.png">
	</div>
</div>

<script type="text/javascript"
	src="/ext/relaisctrl/media/js/powerbar.js"></script>
