
<div id="powerbar">
	<div class="arrowbox arrowbox-left">
		<img src="/ext/relaisctrl/media/img/arrow-left.png">
	</div>
	<div id="scrollwrapper">
		<div id="powerbuttons"></div>
	</div>
	<div class="arrowbox arrowbox-right">
		<img src="/ext/relaisctrl/media/img/arrow-right.png">
	</div>
</div>

<script type="text/javascript"
	src="/ext/relaisctrl/media/js/powerbar.js"></script>
