
<div id="powerbuttons">
	<div class="arrowbox">
		<img src="ext/relaisctrl/media/img/arrow-left.png">
	</div>
	<div class="powerbutton">
		<img src="ext/relaisctrl/media/img/powerbuttons/darkgrey.png">
	</div>
	<div class="powerbutton">
		<img src="ext/relaisctrl/media/img/powerbuttons/darkgrey.png">
	</div>
	<div class="powerbutton">
		<img src="ext/relaisctrl/media/img/powerbuttons/red.png">
	</div>
	<div class="powerbutton">
		<img src="ext/relaisctrl/media/img/powerbuttons/darkgrey.png">
	</div>
	<div class="powerbutton">
		<img src="ext/relaisctrl/media/img/powerbuttons/red.png">
	</div>
	<div class="powerbutton">
		<img src="ext/relaisctrl/media/img/powerbuttons/red.png">
	</div>
	<div class="powerbutton">
		<img src="ext/relaisctrl/media/img/powerbuttons/darkgrey.png">
	</div>
	<div class="powerbutton">
		<img src="ext/relaisctrl/media/img/powerbuttons/darkgrey.png">
	</div>
	<div class="arrowbox right">
		<img src="ext/relaisctrl/media/img/arrow-right.png">
	</div>
</div>
