
h2 {
	margin-top: 10px;
	font-size: 16px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ccc;
}
h3 {
	font-size: 12px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ddd;
	margin: 4px;
	cursor: pointer;
}
h3 input[type=checkbox] {
	/*position: relative;*/
	top:-2px;
	/*left: 5px;*/
}
#permissions {
	border: 1px solid grey;
	border-radius: 4px;
	padding: 10px;
}
#permissions .permbox {
	padding-bottom: 16px;
}
#permissions .checkbox {
	padding: 1px;
	padding-bottom: 2px;
	padding-right: 4px;
	margin: 0;
	display: inline;
}
#permissions .checkbox input {
	margin-left: -16px;
}

