RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_URI} !\.(jpg|png|gif|css|js|pdf|eot|woff|woff2|ttf|svg)$
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteRule . /index.php [L]
