<div id="menu">
	<!-- added by ext/favorites -->
	<div class="menu-element">
		<img src="ext/favorites/media/favorites.png">
	</div>
	<!-- end ext/favorites -->
	<!-- added by ext/relaisctrl -->
	<div class="menu-element">
		<img src="ext/relaisctrl/media/img/lightning-icon.png">
	</div>
	<!-- end ext/relaisctrl -->
	<div class="menu-element">
		<img src="ext/core/media/img/settings-icon.png">
	</div>
</div>
			