<div id="menu">
	<!-- added by ext/favorites -->
	<div class="menu-element {% if requestUri == '/favorites' %}active{% endif %}">
		<a href="/favorites">
			<img src="/ext/favorites/media/favorites.png">
		</a>
	</div>
	<!-- end ext/favorites -->
	<!-- added by ext/relaisctrl -->
	{% if guardian.hasPerm('relais_read') %}
	<div class="menu-element {% if requestUri == '/homecontrol' %}active{% endif %}">
		<a href="/homecontrol">
			<img src="/ext/relaisctrl/media/img/lightning-icon.png">
		</a>
	</div>
	{% endif %}
	{% if guardian.hasPerm('relais_set') %}
	<div class="menu-element">
		<a href="#" class="blackoutswitch">
			<img src="/ext/relaisctrl/media/img/pull-plug.png">
		</a>
	</div>
	{% endif %}
	<!-- end ext/relaisctrl -->
	{% if guardian.hasPerm('user_read') %}
	<div class="menu-element {% if requestUri == '/users' %}active{% endif %}">
		<a href="/users">
			<img src="/ext/core/media/img/user-icon.png">
		</a>
	</div>
	{% endif %}
	{% if guardian.isLoggedIn() %}
	<div class="menu-element {% if requestUri == '/settings' %}active{% endif %}">
		<a href="/settings">
			<img src="/ext/core/media/img/settings-icon.png">
		</a>
	</div>
	<div class="menu-element {% if requestUri == '/logout' %}active{% endif %}">
		<a href="/logout">
			<img src="/ext/core/media/img/logout-icon.png">
 		</a>
 	</div>
	{% endif %}
</div>
			