<div id="menu">
	<!-- added by ext/favorites -->
	<div class="menu-element {% if requestUri == '/favorites' %}active{% endif %}">
		<a href="/favorites">
			<img src="/ext/favorites/media/favorites.png">
		</a>
	</div>
	<!-- end ext/favorites -->
	<!-- added by ext/relaisctrl -->
	<div class="menu-element {% if requestUri == '/homecontrol' %}active{% endif %}">
		<a href="/homecontrol">
			<img src="/ext/relaisctrl/media/img/lightning-icon.png">
		</a>
	</div>
	<!-- end ext/relaisctrl -->
	<div class="menu-element {% if requestUri == '/settings' %}active{% endif %}">
		<a href="/settings">
			<img src="/ext/core/media/img/settings-icon.png">
		</a>
	</div>
</div>
			