{% extends 'core/twig/base.twig' %}
{% block content %}
	<form action="" method="POST" role="form">
		<legend>Change Password</legend>
		<div class="form-group">
			<label for="">Old Password</label>
			<input type="password" class="form-control" autofocus
				id="oldpassword" name="oldpassword" 
				placeholder="Old Password" tabindex="1">
		</div>
		<div class="form-group">
			<label for="">New Password</label>
			<input type="password" class="form-control"
				id="newpassword" name="newpassword" 
				placeholder="New Password" tabindex="2">
		</div>
		<div class="form-group">
			<label for="">Confirm New Password</label>
			<input type="password" class="form-control"
				id="newpasswordconfirm" name="newpasswordconfirm" 
				placeholder="Confirm New Password" tabindex="3">
		</div>
	
		<button name="passwordchange" type="submit"
			value="1" class="btn btn-primary">
			Submit
		</button>
	</form>
{% endblock %}
